python-dotenv
qdrant-client
# sentence-transformers
torch==2.3.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers==2.2.2
python-frontmatter
tiktoken
fastapi-limiter[redis]
redis
openai-agents
trafilatura
fastapi
uvicorn