python-dotenv
qdrant-client
# sentence-transformers
sentence-transformers==2.2.2
python-frontmatter
tiktoken
openai-agents
trafilatura
fastapi
uvicorn
torch==2.9.1+cpu
torchvision==0.18.1+cpu
transformers==4.42.2